.DS_Store
.atom/
.buildlog/
.history
#Pub stuffs
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

*.class
*.jar
*.war
*.ear
.gradle/
build/
target/
.m2/

